bin/
.metadata/
tmp/
cache/
res/
/user.settings.xml
/target/
/recent.files.xml
/recent.files.json
/user.settings.json
/.settings/
/.classpath
/previous.readsj
/dependency-reduced-pom.xml
/doc/
/*log*
/user.setj
